.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.viewer {
  max-width: 75vh;
  flex: 1;
  display: flex;
}

.viewer__item {
  border: 1px solid black;
}

.viewer__content {
  flex: 3;
}
