.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.viewer {
  flex: 1;
  display: flex;

  max-width: 75vh;
}

.viewer__item {
  padding: 1.2em;
}

.viewer__content {
  flex: 3;
}
