@keyframes slideintop {
  from {
    opacity: 0%;

    margin-bottom: -3em;
  }

  to {
    opacity: 100%;
  }
}

.viewer__nav {
  flex: 1;

  background: rgba(var(--grey), 0.36);

  border: 1px solid rgba(var(--grey), 0.18);
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;

  box-shadow: 0 8px 32px 0 rgba(var(--black), 0.3);
  backdrop-filter: blur(0.4em);
}

.nav__items {
  list-style: none;
}

.nav__item {
  opacity: 0%;

  display: block;

  padding: 0.2em;
  padding-left: 0.8em;

  margin: 0.2em 0;

  background: transparent;

  border-radius: 0.2em;

  cursor: pointer;

  transition: all ease 0.2s;

  animation: 0.6s ease 1.2s normal forwards slideintop;
}

.nav__item:hover {
  background: rgba(var(--white), 0.2);
}

.nav__item--selected {
  background: rgba(var(--white), 0.44);

  font-style: italic;
  font-weight: bold;
}

@media (width <= 600px) {
  .viewer__nav {
    opacity: 0%;

    margin-bottom: 1.2em;

    animation: 0.2s ease 1.2s normal forwards fadein;
  }
}
